--- import Tabs from '../components/Tabs.astro';
const { frontmatter, children } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=550" />
<title>{frontmatter.title ?? 'PALIMPSEST'}</title>
<link rel="stylesheet" href="styles.css" />
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$']],
      displayMath: [['$$','$$']],
    },
    options: {
      skipHtmlTags: ['script','noscript','style','textarea','pre','code']
    }
  };
</script>
<script
  async
  id="MathJax-script"
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
></script>
</head>
<body>
<div class="wrapper">
<!-- ここがポイント：Reactコンポーネントをクライアントで水和 -->
<Tabs client:load initialTab={frontmatter.initialTab ?? 'about'}> {children} </Tabs>
</div>
<footer>
  <div class="wrapper" style="text-align:center;">
    <p>© 2025 宇佐</p>
  </div>
</footer>
</body>
<script type="module">
  window.MathJax?.typesetPromise();
</script>
</html>